<?xml version="1.0" encoding="utf-8"?>
<robot
  name="mubot">


<!--  AR05_AN6_ADD -->


<link
  name="dummy_link">
  <inertial>
    <origin
      xyz="0.02175 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="1.485E-01" />
    <inertia
      ixx="1.652E-05"
      ixy="0.0"
      ixz="0.0"
      iyy="2.237E-05"
      iyz="0.0"
      izz="8.532E-05" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_head.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="1 0 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_head.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_body_1">
  <inertial>
    <origin
      xyz="0.013375 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="9.238E-02" />
    <inertia
      ixx="1.028E-05"
      ixy="0.0"
      ixz="0.0"
      iyy="1.039E-05"
      iyz="0.0"
      izz="2.184E-05" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 1 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>


<link name="segment_head">
</link>
<joint
name="dummy joint" type="fixed">
<parent
  link="segment_head" />
<child
  link="dummy_link" />
</joint>


<link
  name="segment_body_2">
  <inertial>
    <origin
      xyz="0.013375 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="9.238E-02" />
      <inertia
        ixx="1.028E-05"
        ixy="0.0"
        ixz="0.0"
        iyy="1.039E-05"
        iyz="0.0"
        izz="2.184E-05" />
    </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 1 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_body_3">
  <inertial>
    <origin
      xyz="0.013375 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="9.238E-02" />
      <inertia
        ixx="1.028E-05"
        ixy="0.0"
        ixz="0.0"
        iyy="1.039E-05"
        iyz="0.0"
        izz="2.184E-05" />
    </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 1 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_body_4">
  <inertial>
    <origin
      xyz="0.013375 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="9.238E-02" />
      <inertia
        ixx="1.028E-05"
        ixy="0.0"
        ixz="0.0"
        iyy="1.039E-05"
        iyz="0.0"
        izz="2.184E-05" />
    </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 1 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_body_5">
  <inertial>
    <origin
      xyz="0.013375 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="9.238E-02" />
      <inertia
        ixx="1.028E-05"
        ixy="0.0"
        ixz="0.0"
        iyy="1.039E-05"
        iyz="0.0"
        izz="2.184E-05" />
    </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 1 0 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_body.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_tail">
  <inertial>
    <origin
      xyz="0.007934 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="5.481E-02" />
    <inertia
      ixx="6.096E-06"
      ixy="0.0"
      ixz="0.0"
      iyy="5.304E-06"
      iyz="0.0"
      izz="7.098E-06" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_tail.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 0 1 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_tail.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>

<link
  name="segment_tip">
  <inertial>
    <origin
      xyz="0.01400 0.0 0.0"
      rpy="0 0 0" />
    <mass
      value="6.451E-02" />
    <inertia
      ixx="2.029E-06"
      ixy="0.0"
      ixz="0.0"
      iyy="2.472E-06"
      iyz="0.0"
      izz="2.099E-05" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_tip.STL" scale="1 1 1"/>
    </geometry>
    <material
      name="">
      <color
        rgba="0 0 1 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://des_mubot/meshes/segment_tip.STL" scale="1 1 1"/>
    </geometry>
  </collision>
</link>


<!--Defination of joints: joint_a0-joint5-->
<joint
name="joint_a0"
type="revolute">
<origin
  xyz="0.041 0 0"
  rpy="0 0 0" />
<parent
  link="segment_head" />
<child
  link="segment_body_1" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_a1"
type="revolute">
<origin
  xyz="0.02675 0 0"
  rpy="0 0 0" />
<parent
  link="segment_body_1" />
<child
  link="segment_body_2" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_a2"
type="revolute">
<origin
  xyz="0.02675 0 0"
  rpy="0 0 0" />
<parent
  link="segment_body_2" />
<child
  link="segment_body_3" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_a3"
type="revolute">
<origin
  xyz="0.02675 0 0"
  rpy="0 0 0" />
<parent
  link="segment_body_3" />
<child
  link="segment_body_4" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_a4"
type="revolute">
<origin
  xyz="0.02675 0 0"
  rpy="0 0 0" />
<parent
  link="segment_body_4" />
<child
  link="segment_body_5" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_a5"
type="revolute">
<origin
  xyz="0.02675 0 0"
  rpy="0 0 0" />
<parent
  link="segment_body_5" />
<child
  link="segment_tail" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>

<joint
name="joint_p0"
type="revolute">
<origin
  xyz="0.02175 0 0"
  rpy="0 0 0" />
<parent
  link="segment_tail" />
<child
  link="segment_tip" />
<axis
  xyz="0 0 1" />
<limit
  lower="-1.57"
  upper="1.57"
  effort="10"
  velocity="10" />
</joint>



<gazebo reference="dummy_link">
    <material>Gazebo/Red</material>
</gazebo>

<gazebo reference="segment_body_1">
    <material>Gazebo/Yellow</material>
</gazebo>
<gazebo reference="segment_body_2">
    <material>Gazebo/Yellow</material>
</gazebo>
<gazebo reference="segment_body_3">
    <material>Gazebo/Yellow</material>
</gazebo>
<gazebo reference="segment_body_4">
    <material>Gazebo/Yellow</material>
</gazebo>
<gazebo reference="segment_body_5">
    <material>Gazebo/Yellow</material>
</gazebo>

<gazebo reference="segment_tail">
    <material>Gazebo/Orange</material>
</gazebo>

<gazebo reference="segment_tip">
    <material>Gazebo/Blue</material>
</gazebo>

<gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/mubot</robotNamespace>
    </plugin>
</gazebo>


  <gazebo>
        <plugin name="Actuator_control" filename="libactuator_plugin.so"/>
        <plugin name="Hydro_Plugin" filename="libHydro_plugin.so"/>
  </gazebo>


<gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <robotNamespace>/mubot</robotNamespace>
        <alwaysOn>true</alwaysOn>
        <updateRate>2000.0</updateRate>
        <bodyName>segment_head</bodyName>
        <topicName>odom0</topicName>
        <gaussianNoise>0.01</gaussianNoise>
        <frameName>world</frameName>
        <xyzOffsets>0 0 0</xyzOffsets>
        <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
</gazebo>


 <transmission name="joint_a0_trans">
   <type>transmission_interface/SimpleTransmission</type>
   <joint name="joint_a0">
     <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
   </joint>
   <actuator name="joint_a0_Motor">
     <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
     <mechanicalReduction>1</mechanicalReduction>
   </actuator>
 </transmission>


</robot>
